* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1, header div{
    padding-top: 20px;
    margin-left: 30px;
    font-family: 'Google Sans';
    text-align: center;
}

nav {
    text-align: center;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.log {
    padding: 10px;
    text-decoration: none;
    font-family: 'Google Sans';
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(45, 93, 214);
    background-color: rgb(26, 109, 218);
}

.log:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #075798;
    color: white;
}

nav a {
    font-family: 'Google Sans';
    font-size: large;
    margin: 20px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: red;
}

img {
    margin-left: 30px;
    margin-top: 10px;
    width: 80%;
}
ul {
    margin-left: 20px;
}

h2 {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Google Sans';
}

#about_text {
    margin-left: 30px;
    font-family: "Google Sans";
    margin-bottom: 30px;
}

li {
    margin-left: 30px;
    padding-bottom: 10px;
    font-family: 'Google Sans';
}

table {
    margin-left: 30px;
    border-collapse: collapse;
    border: black;
    font-family: 'Google Sans';
    margin-bottom: 40px;
}

td {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: black;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Google Sans';
    width: 100%;
}

#call_us {
    padding-left: 30px;
    display: inline-block;
}

footer a {
    text-decoration: none;
    color: white;
}

#form {
    float: right;
    padding-right: 30px;
}

footer a:hover {
    color: red;
}